body {
        font-family: Arial;
        background: #f4f6ff;
        padding: 20px;
      }
      .quiz-container {
        max-width: 800px;
        margin: auto;
        background: white;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0 20px #00000015;
      }
      .question {
        background: #f9fbff;
        padding: 15px;
        border-left: 4px solid #2d336b;
        margin-bottom: 20px;
        border-radius: 6px;
      }
      .points {
        color: #2d336b;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000070;
        display: none;
        justify-content: center;
        align-items: center;
      }
      .modal-box {
        background: white;
        padding: 40px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 0 20px #00000040;
        width: 350px;
      }
      button {
        padding: 12px 25px;
        background: #2d336b;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 16px;
      }